{% load static %}
<!-- Top Navigation -->
<nav class="navbar user-navbar">
    <div class="container-fluid">

        <!-- Logo -->
        <a class="navbar-brand d-flex align-items-center" href="{% url 'user:user_home' %}">
            <img src="{% static 'images/dog_logo.jpg' %}" height="32" alt="Logo">
            PETSHELP
        </a>

        <!-- Login Button -->
        <a href="{% url 'user:login' %}" class="btn btn-outline-primary login-btn">
            Login
        </a>

    </div>
</nav>