{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
<style>
body {
    background: url("{% static 'images/OIP.webp' %}") no-repeat center center fixed;
    background-size: cover;
    position: relative;
}
</style>


{% if error %}
<div class="alert alert-danger text-center">
    {{ error }}
</div>
{% endif %}

<div class="auth-wrapper d-flex justify-content-center align-items-center">

    <div class="auth-card">

        <!--  Logos Inside Log in  Card -->
        <div class="card-logos d-flex justify-content-between align-items-center mb-3">
            <img src="{% static 'images/bayawan_logo.webp' %}" 
                 class="card-logo" 
                 alt="Bayawan Logo">

            <img src="{% static 'images/OIP.webp' %}" 
                 class="card-logo" 
                 alt="Bayawan harvest logo">
        </div>

        <h2 class="text-center mb-4 brand-title">Login</h2>

        <form method="post">
            {% csrf_token %}

            <div class="mb-3">
                <input type="text"
                       name="username"
                       class="form-control"
                       placeholder="Username"
                       required>
            </div>

            <div class="mb-3">
                <input type="password"
                       name="password"
                       class="form-control"
                       placeholder="Password"
                       required>
            </div>

            <button type="submit" class="w-100 login-btn py-2">
                Log In
            </button>
        </form>

        <div class="text-center my-3">
            <span class="text-muted">or</span>
        </div>

      <a href="{% url 'user:signup' %}" class="w-100 login-btn d-block text-center py-2">
    Create New Account
      </a>


    </div>
</div>

{% endblock %}
