{% load static %}

<div class="sidebar-shell user-mobile-sidebar d-lg-none" id="sidebar-wrapper" aria-label="Primary navigation">
    <div class="sidebar-mobile-header">
        <a class="sidebar-mobile-brand" href="{% url 'user:user_home' %}" aria-label="Bayawan Vet home">
            <img src="{% static 'images/logo.png' %}" alt="" aria-hidden="true" class="sidebar-mobile-brand__logo">
            <span class="sidebar-mobile-brand__copy">
                <span class="sidebar-mobile-brand__eyebrow">Bayawan Vet</span>
                <span class="sidebar-mobile-brand__title">Menu</span>
            </span>
        </a>
        <button
            type="button"
            class="sidebar-mobile-close"
            data-sidebar-close
            aria-label="Close navigation menu"
        >
            <span class="sidebar-mobile-close__line sidebar-mobile-close__line--first"></span>
            <span class="sidebar-mobile-close__line sidebar-mobile-close__line--second"></span>
        </button>
    </div>
    <div class="list-group list-group-flush sidebar-menu-list">
        {% include 'partials/user_primary_nav_links.html' with nav_item_class='list-group-item list-group-item-action border-0 sidebar-nav-link' nav_icon_class='sidebar-nav-icon' show_icons=1 %}
    </div>
</div>
