{% extends 'base.html' %}
{% load static %}

{% block title %}Home Page{% endblock title %}
{% block page_title %}Home page{% endblock page_title %}

    {% block content %}
        <h1>Welcome Home!</h1>
        
       <form method="POST"> 
                <label> UserName:</label>
                <input type="text"><br>
                <label>Password:</label>
                <input type="password" placeholder="password.."><br>
                <button type="submit"> Submit</button><br>
       </form>

       <form method="POST">
                <label>UserName:</label>
                <input type="text" placeholder="JuanDelaCruz"> <br>
                <label>Password:</label>
                <input type="password"> <br>
                <label>BirthDate:</label>
                <input type="date"> <br>
                <button type="submit">Submit</button>

       </form>
       <script>
    const wrapper = document.getElementById("wrapper");
    const sidebarToggle = document.getElementById("sidebarToggle");
    const pageContentWrapper = document.getElementById("page-content-wrapper");

    // Toggling the sidebar:
    sidebarToggle.addEventListener("click", (event) => {       
    event.stopPropagation(); 
    wrapper.classList.toggle("toggled");
        });
                                                                  // New functionality: Close sidebar on outside click for smaller screens
    pageContentWrapper.addEventListener("click", () => {                
    // Check if the sidebar is open AND the screen size is less than 992px ('lg' breakpoint)
    if (window.innerWidth < 992 && wrapper.classList.contains("toggled")) {         
        // Close the sidebar by removing the 'toggled' class
        wrapper.classList.remove("toggled");
        }
           });
</script>
{% block extra_js %}{% endblock extra_js %}
    {% endblock content %}