{% extends 'base.html'%}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h2 class="mb-4">Trial Page</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus distinctio quasi possimus ipsum ab maiores quidem ducimus numquam, vero reiciendis maxime dolorum laudantium eligendi obcaecati eaque id corrupti architecto veritatis.</p>
        
        <p>Pariatur nesciunt repellendus autem animi quo eius temporibus fuga! Iste itaque, deleniti ut deserunt doloribus dolores voluptas! Architecto temporibus et ipsam numquam blanditiis cupiditate harum! Incidunt, voluptate fugiat. Rerum, hic!</p>
        
        <p>Aliquid expedita dolore sapiente consequuntur facere aliquam reiciendis at accusamus, quaerat assumenda ipsum, quasi in voluptatum illo, repudiandae doloremque voluptatibus eligendi vel saepe optio fugit! Similique iste deleniti nulla harum!</p>
        
        <p>Sed dicta quasi nesciunt rerum unde possimus dolorem, nihil laboriosam beatae assumenda inventore ipsam ullam facere. Sint enim unde ad, magni eaque dolorem blanditiis repellendus porro voluptatibus itaque maxime perspiciatis?</p>
        
        <p>Minus nesciunt possimus quis quae omnis quos doloribus perspiciatis obcaecati consequuntur? Voluptatum distinctio exercitationem quasi unde at eius recusandae sequi expedita, et modi. Perferendis saepe id maiores sit? Veniam, cumque.</p>
    </div>
</div>

{% endblock %}