{% extends 'base.html' %}
{% load static %}

{% block title %}Home Page{% endblock title %}
{% block page_title %}Home page{% endblock page_title %}

    {% block content %}
        <h1>Welcome Home!</h1>
        
       <form method="POST"> 
                <label> UserName:</label>
                <input type="text"><br>
                <label>Password:</label>
                <input type="password" placeholder="password.."><br>
                <button type="submit"> Submit</button><br>
       </form>

       <form method="POST">
                <label>UserName:</label>
                <input type="text" placeholder="JuanDelaCruz"> <br>
                <label>Password:</label>
                <input type="password"> <br>
                <label>BirthDate:</label>
                <input type="date"> <br>
                <button type="submit">Submit</button>

       </form>
       
    {% endblock content %}