
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/registration_navigation.css' %}">
<div class="subtop-nav">
  <a href="{% url 'dogadoption_admin:register_dogs' %}" class="nav-item active">Dog Registration</a>
  <a href="{% url 'dogadoption_admin:registration_record' %}" class="nav-item">Registration List</a>
  <a href="{% url 'dogadoption_admin:dog_certificate' %}" class="nav-item">Dog Certification</a>
  <a href="{% url 'dogadoption_admin:certificate_list' %}" class="nav-item">Certificate List</a>
</div>
{% endblock %}

