<div
    class="modal fade app-confirm-modal"
    id="sharedConfirmModal"
    tabindex="-1"
    aria-labelledby="sharedConfirmModalTitle"
    aria-describedby="sharedConfirmModalMessage"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content app-confirm-card">
            <div class="modal-header">
                <h5 class="modal-title" id="sharedConfirmModalTitle">Confirm Action</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="app-confirm-message" id="sharedConfirmModalMessage">Please confirm to continue.</p>
            </div>
            <div class="modal-footer app-confirm-actions">
                <button type="button" class="btn btn-cancel-action" id="sharedConfirmModalCancel" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="sharedConfirmModalSubmit">OK</button>
            </div>
        </div>
    </div>
</div>
