{% extends "admin_base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/admin_users.css' %}">
{% endblock extra_css %}
{% block content %}
<h1 class="page-title">User Management</h1>

<form method="GET" action="{% url 'dogadoption_admin:admin_user_search' %}" class="search-bar">
    <input type="text" name="q" placeholder="SEARCH BY NAME..." value="{{ query }}">
    <button type="submit">SEARCH</button>
</form>

<div class="user-container">
    {% for user in users %}
    <div class="user-card">
        <div class="user-left">
            <div class="user-avatar">
                {% if user.profile.profile_image %}
                    <img src="{{ user.profile.profile_image.url }}">
                {% else %}
                    <img src="{% static 'img/default_profile.png' %}">
                {% endif %}
            </div>

            <div class="user-info">
                <h3>{{ user.first_name }} {{ user.last_name }}</h3>
                <p class="brgy">{{ user.profile.address|upper|default:"N/A" }}</p>
            </div>
        </div>

        <div class="user-right">
            <div class="violation-box {% if user.calculated_violations > 0 %}has-violations{% endif %}">
                <span>Violations</span>
                <h2>{{ user.calculated_violations|default:"0" }}</h2>
            </div>

            <a href="{% url 'dogadoption_admin:admin_user_detail' user.id %}" class="view-btn">
                Profile
            </a>
        </div>
    </div>
    {% empty %}
        <p style="text-align: center; margin-top: 50px; font-weight: bold;">NO USERS FOUND.</p>
    {% endfor %}
</div>
{% endblock %}