{% extends 'base.html' %}
{% load static %}

{% block page_title %}Dog Info | Bayawan Vet{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/announcement_feed.css' %}?v=20260426doginfo-icon">
{% endblock %}

{% block content %}
<div class="user-ann-board user-ann-v2">
    {% include 'announcement/_announcement_subnav.html' %}

    <div class="user-ann-dog-info-page">
        <div class="user-ann-dog-bento">
            <figure class="user-ann-dog-bento__tile user-ann-dog-bento__tile--sick">
                <img src="{% static 'images/dog sick remedies.jpg' %}"
                     alt="Infographic: signs and symptoms that your dog may be sick"
                     class="user-ann-dog-bento__img"
                     loading="lazy"
                     decoding="async">
            </figure>
            <figure class="user-ann-dog-bento__tile user-ann-dog-bento__tile--care">
                <img src="{% static 'images/dogcarelist.png' %}"
                     alt="Dog care checklist and routine care tips"
                     class="user-ann-dog-bento__img"
                     loading="lazy"
                     decoding="async">
            </figure>
            <figure class="user-ann-dog-bento__tile user-ann-dog-bento__tile--teeth">
                <img src="{% static 'images/tipsonteeth.jpg' %}"
                     alt="Tips on dog dental care and healthy teeth"
                     class="user-ann-dog-bento__img"
                     loading="lazy"
                     decoding="async">
            </figure>
            <figure class="user-ann-dog-bento__tile user-ann-dog-bento__tile--bite">
                <img src="{% static 'images/dogbitteninfo.jpg' %}"
                     alt="Dog bite prevention and safety information"
                     class="user-ann-dog-bento__img"
                     loading="lazy"
                     decoding="async">
            </figure>
            <figure class="user-ann-dog-bento__tile user-ann-dog-bento__tile--help">
                <img src="{% static 'images/doghelp.webp' %}"
                     alt="Dog help and wellness guidance"
                     class="user-ann-dog-bento__img"
                     loading="lazy"
                     decoding="async">
            </figure>
        </div>
    </div>
</div>
{% endblock %}
