{% extends 'base.html' %}
{% load static %}

{% block page_title %}Dog Info | Bayawan Vet{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/announcement_feed.css' %}?v=20260426dog-info-no-embed">
{% endblock %}

{% block content %}
<div class="user-ann-board user-ann-v2">
    {% include 'announcement/_announcement_subnav.html' %}

    <div class="user-ann-dog-info-page">
        <figure class="user-ann-dog-info-figure">
            <img src="{% static 'images/dogbitteninfo.jpg' %}"
                 alt="Dog bite prevention and safety information"
                 class="user-ann-dog-info-hero-img"
                 loading="lazy">
        </figure>
    </div>
</div>
{% endblock %}
