{% extends 'admin_base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/create_post.css' %}">

<div class="form-container">
    <h2>Create Dog Adoption Post</h2>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-fields">
            {{ post_form.as_p }}
        </div>

        <div class="file-upload-section">
            <label class="form-label-bold">Upload Dog Images</label>
            <p class="helptext">The first image selected will be the main display photo.</p>
            <input
                type="file"
                name="images"
                multiple
                accept="image/*"
                class="form-control"
                required
            >
        </div>

        <button type="submit" class="btn-submit">Post</button>
    </form>
</div>
{% endblock %}